@import "@styles/breakpoints.module.scss";
@import "@styles/theme-colors.module.scss";
@import "@styles/fonts.module.scss";
@import "@styles/mixins.module.scss";

@keyframes runningLine {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-150%);
  }
}

.heroSection {
  @include respond-mob-minMax {
    padding-top: 13px;
  }

  @include respond-tab-minMax {
    padding-top: 9px;
  }
}

.heroContainer {
  position: relative;
  display: flex;
  flex-direction: column;

  @include respond-to("desktop") {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 420px;
  }
}

.sliderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;  
  }

.slideContainer {
  width: 164px;

  border: 1px solid;
  border-color: getColor("accent-blue");

  @include respond-to("tablet") {
    width: 348px;
  }

  @include respond-to("desktop") {
    width: 233px;
  }
}

.heroWrapperBorder {
  @include respond-mob-minMax {
    @include visually-hidden;
  }

  @include respond-tab-minMax {
    @include visually-hidden;
  }

  @include respond-to("desktop") {
    position: fixed;
    z-index: 98;
    top: 393px;
    left: 0;
    width: 100vw;
    border-top: 1px solid;
    border-color: getColor("accent-blue");
  }
}

.heroTitle {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 110%;
  white-space: nowrap;
  animation-name: runningLine;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  font-family: $kanit;
  font-size: getFontSize("s-mega-large");
  font-weight: 500;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;

  @include respond-to("tablet") {
    top: 40%;
    font-size: getFontSize("m-mega-large");
  }

  @include respond-to("desktop") {
    top: 100%;
    font-size: getFontSize("l-mega-large");
  }
}

.heroDescription {
  color: getColor("white");
  margin-top: 179px;

  @include respond-to("tablet") {
    margin-top: 306px;
  }

  @include respond-to("desktop") {
    display: flex;
    align-items: end;
    margin: 0 70px 56px 24px;
  }
}
