@import "../../styles/breakpoints.module.scss";
@import "../../styles/theme-colors.module.scss";
@import "../../styles/fonts.module.scss";
@import "../../styles/mixins.module.scss";

.heroContainer {
  outline: 2px solid green;
//   width: 100%;
}

.heroTitle {
  position: absolute;


  font-family: $kanit;
  font-size: getFontSize("s-mega-large");
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;

  @include respond-to("tablet") {
    font-size: getFontSize("m-mega-large");
    line-height: 1.25;
  }

  @include respond-to("desktop") {
    font-size: getFontSize("l-mega-large");
  }
}

.heroDescription {
  color: getColor("white");
}



.slider {
  margin: auto;
  background-color: transparent;
}

// .slider a {
//   position: absolute;
// }

.images {

  // animation-name: slider;

animation-name: sliderRevercse;

  animation-duration: 4s;

  // animation-timing-function: cubic-bezier(1, -0.32, 0.85, 1.51);
  animation-iteration-count: infinite;
}

// @keyframes slider {
//   0% {
//     opacity: 1;
//   }
//   80% {
//     opacity: 0.5;
//   }
//   100% {
//     opacity: 1;
//   }
// }

@keyframes sliderRevercse {
  0% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
