@import "@styles/breakpoints.module.scss";
@import "@styles/theme-colors.module.scss";
@import "@styles/fonts.module.scss";
@import "@styles/mixins.module.scss";

.titleBox {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  margin-bottom: 32px;
  border-bottom: 1px solid getColor("white");

  @include respond-to("tablet") {
    margin-bottom: 56px;
  }

  @include respond-to("desktop") {
    margin-bottom: 96px;
  }
}

.sectionTitleSpan {
  font-family: $kanit;
  font-size: getFontSize("s-large");
  font-weight: 400;
  line-height: 1.5;

  @include respond-to("tablet") {
    font-size: getFontSize("m-large");
    line-height: 1.25;
  }

  @include respond-to("desktop") {
    font-size: getFontSize("s-mega-large");
    line-height: 1;
  }
}

.sectionDescriptionContainer {
  margin-bottom: 24px;

  @include respond-to("tablet") {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  @include respond-to("desktop") {
    margin-bottom: 90px;
  }
}

.sectionDescriptionTitle {
  @include respond-mob-minMax {
    margin-bottom: 12px;
  }

  @include respond-tab-minMax {
  }
}

.sectionDescription {
  width: 70%;
}

.cardsContainerBox {
  @include respond-to("tablet") {
    display: flex;
  }
}
