@import "@styles/breakpoints.module.scss";
@import "@styles/theme-colors.module.scss";
@import "@styles/fonts.module.scss";
@import "@styles/mixins.module.scss";

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $roboto;
  font-size: getFontSize("l-small");
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;

  color: getColor("white");
  background-color: getColor("main-button-color");

  border: none;
  text-align: center;
  cursor: pointer;

  transition: background-color $transition-time $cubic;

  &:hover,
  &:focus {
    background-color: getColor("btn-hover");
  }

  &.headerBtn {
    padding: 10px 16px;
    font-size: getFontSize("m-small");
    line-height: 1.71;

    @include respond-to("tablet") {
      padding: 12px 67px;
      font-size: getFontSize("l-small");
    }
  }

  &.featuresBtn {
    width: 100%;
    padding: 12px;
  }

  &.formBtn {
    width: 100%;
    padding: 12px;
    margin-top: 16px;

    @include respond-to("tablet") {
      width: 235px;
    }
  }

  &.unActive {
    cursor: auto;
    color: getColor("dark-grey");
    background-color: getColor("light-grey");
  }
}
