//--- colors ---//

$colors: (
  "white": #ffffff,
  "black": #000,
  // "accent-blue": #09237e,
  "warning-rose": #eb3795,
  "dark-grey": #2f2f2f,
  "light-grey": #b3b3b3,
  "main-button-color": #272a2e,
  "btn-hover": #272a2ee6,
  "background": #080b27,
  // "background": #060412,
  "accent-blue": #204ffe,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

// --- transitions --- //

$transition-time: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
