@import "../../styles/breakpoints.module.scss";
@import "../../styles/theme-colors.module.scss";
@import "../../styles/fonts.module.scss";
@import "../../styles/mixins.module.scss";

.label {
    // background-color: beige;
    display: flex;
    // flex-direction: column;
    // gap: 6px;
}

.labelText {
   display: inline-flex;
   margin: 0;

   font-size: getFontSize("m-small");
   line-height: 1.5;
   font-weight: 400;
   color: getColor("white");
}

.inputContainer {
    position: relative;
    // display: flex;
    // flex-direction: column;
    // align-items: start;
    width: 100%;
    height: 68px;

    &::before { 
        content: "*"; 
        position: absolute;
        padding-top: 10px;
        color: getColor("warning-rose");

        font-size: getFontSize("m-small");
        line-height: 1.5;
        font-weight: 400;
        
    }
};

.inputComponent {
// {icon, type, resetButton }
    width: 100%;
    outline: 1px solid transparent;
    // border: '1px solid ' + theme.color.inputBorderColor,
    // [type="submit"]
    // paddingRight: resetButton ? theme.space.x10 : theme.space.x4,
    // paddingLeft: theme.space.x4,
    // background-color: rgb(49, 78, 203);
    padding: 8px 10px 14px 30px;
    border-bottom: 1px solid getColor("white");
    
    box-sizing: border-box;
   

    // [eyeButton] {
    //     position: absolute;
    // }

    // // to do styles for focus?
    // //   &:focus-visible: {
    // //     border-color: blue,
    // //   }

    font-size: getFontSize("m-small");
    line-height: 1.5;
    font-weight: 400;
    color: getColor("white");

    @include respond-to("tablet"){
        font-size: getFontSize("l-small");
    }

    @include respond-to("desktop"){
        font-size: getFontSize("s-medium");        
    }

    &::placeholder {
        font-size: getFontSize("m-small");
        line-height: 1.5;
        font-weight: 400;
        color: getColor("light-grey");

        @include respond-to("tablet"){
            font-size: getFontSize("l-small");
        }

        @include respond-to("desktop"){
            font-size: getFontSize("s-medium");            
        }
    }

    &:hover {
        outline: 1px solid getColor("light-grey");
    }
    }

.iconWrapper {
    // absolute top-2 right-2 text-gray-500
// {  resetButton }
    cursor: pointer;
    // color: theme.color.iconColor,
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    // top: 50%;
    top: 0;
    right: 0;
    // transform: translate(-50%, -50%);
    padding: 8px 0;
    // right: resetButton ? 0 : '',
    // transform: resetButton ? 'translate(-50%, -50%)' : '',
};

.inputError {
    outline: 1px solid yellow;
    height: 24px;
    position: absolute;
    // bottom: -28px;

    font-size: getFontSize("s-small");
    color: getColor("warning-rose");
};