@import "../../styles/breakpoints.module.scss";
@import "../../styles/theme-colors.module.scss";
@import "../../styles/fonts.module.scss";
@import "../../styles/mixins.module.scss";

.footer {
  outline: 2px solid blue;

  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond-to("tablet") {
    flex-direction: row-reverse;
  }

  @include respond-to("desktop") {
    //    flex-direction: row;
    //     justify-content: space-between;
  }
}

.socialLinksList {
  display: flex;
  margin: 12px 0;

  @include respond-to("tablet") {
    width: 100%;
    justify-content: center;
  }

  @include respond-to("desktop") {
    // justify-content: center;
  }
}

.socialLinksItem {
  width: 32px;
  height: 32px;
  fill: getColor("white");
  transition: background-color $transition-time $cubic;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    transition: fill $transition-time $cubic;
  }  
  
  &:not(:last-child) {
    margin-right: 32px;
  }

  &:hover,
  :focus {
    fill: getColor("light-grey");
  }
}

.footerInfoBox {
  @include respond-to("tablet") {
    margin: 28px 0;
    width: 100%;
    justify-content: start;
    align-items: center;
  }
}

.developedBy {
  margin-top: 8px;

  font-size: getFontSize("m-small");
  font-weight: 400;
  line-height: 1.31;

  @include respond-to("tablet") {
    width: 100%;
    margin: 0;
    font-size: getFontSize("l-small");
  }

  @include respond-to("desktop") {
    font-size: getFontSize("s-medium");
  }
}

.copywrite {
  margin-bottom: 34px;

  font-size: getFontSize("m-small");
  font-weight: 400;
  line-height: 1.31;

  @include respond-to("tablet") {
    width: 100%;
    margin: 0;
    font-size: getFontSize("l-small");
  }

  @include respond-to("desktop") {
    font-size: getFontSize("s-medium");
  }
}
