@import "@styles/breakpoints.module.scss";
@import "@styles/theme-colors.module.scss";
@import "@styles/fonts.module.scss";
@import "@styles/mixins.module.scss";

.footer {
  // outline: 2px solid blue;
  position: absolute;
  left: 0;
  width: 100vw;
}

.footerBox {
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid getColor("accent-blue");

  @include respond-tab-minMax {
    flex-wrap: wrap;
    height: 100px;
  }

  @include respond-to("desktop") {
    flex-direction: row;
  }
}

.socialLinksList {
  display: flex;

  @include respond-mob-minMax {
    margin: 12px 0;
  }

  @include respond-tab-minMax {
    flex: 0 0 100%;
    width: 50%;
    order: 2;

    justify-content: center;
    align-items: center;
  }

  @include respond-to("desktop") {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    width: calc(100% / 3);
    padding: 34px 0;
    border-left: 1px solid getColor("accent-blue");
    border-right: 1px solid getColor("accent-blue");
  }
}

.socialLinksItem {
  width: 32px;
  height: 32px;
  fill: getColor("white");
  transition: background-color $transition-time $cubic;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    transition: fill $transition-time $cubic;

  }

  &:not(:last-child) {
    margin-right: 32px;
  }

  &:hover,
  :focus {
    fill: getColor("light-grey");
  }
}

.developedBy {
  font-size: getFontSize("m-small");
  font-weight: 400;
  line-height: 1.31;

  @include respond-mob-minMax {
    margin-top: 8px;
  }

  @include respond-tab-minMax {
    flex: 0 0 50%;
    width: 50%;

    display: flex;
    align-items: end;
    margin: 0;
    padding-bottom: 1px;
    font-size: getFontSize("l-small");
  }

  @include respond-to("desktop") {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    margin: 0;
    padding: 38px 0;
    font-size: getFontSize("s-medium");
  }
}

.copywrite {
  font-size: getFontSize("m-small");
  font-weight: 400;
  line-height: 1.31;

  @include respond-mob-minMax {
    margin-bottom: 34px;
  }

  @include respond-tab-minMax {
    flex: 0 0 50%;
    order: 1;
    display: flex;
    align-items: start;
    width: 50%;
    margin: 0;
    padding-top: 1px;
    font-size: getFontSize("l-small");
  }

  @include respond-to("desktop") {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 2;
    width: calc(100% / 3);
    padding: 38px 0;
    font-size: getFontSize("s-medium");
  }
}
