@import "../../styles/breakpoints.module.scss";
@import "../../styles/theme-colors.module.scss";
@import "../../styles/fonts.module.scss";
@import "../../styles/mixins.module.scss";

.form {
    width: 100%;
    border: 1px solid getColor("accent-blue");

    position: relative;

   @include respond-mob-minMax {
    margin: 24px 0;
    padding: 24px 16px;
   }

   @include respond-to("tablet") {
    padding: 54px 40px;
   }

   @include respond-to("desktop") {
    width: 50%;
   }
}

.regLabelText {
    font-size: getFontSize("l-small");
    color: getColor("warning-rose");
}

.btnIcon {
    margin-right: 10px;
    stroke: getColor("white");
  }
  